annotated-types @ file:///C:/b/abs_0dmaoyhhj3/croot/annotated-types_1709542968311/work
appdirs==1.4.4
attrs @ file:///C:/b/abs_89hmquz5ga/croot/attrs_1734533130810/work
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
bcrypt @ file:///C:/b/abs_6bh_hni56u/croot/bcrypt_1736182479846/work
beautifulsoup4 @ file:///C:/b/abs_d5wytg_p0w/croot/beautifulsoup4-split_1718029833749/work
blis @ file:///C:/b/abs_6awydo_s4n/croot/cython-blis_1728909080692/work
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
catalogue @ file:///C:/b/abs_0d918n68qi/croot/catalogue_1703688198988/work
certifi @ file:///C:/b/abs_8a944p1_gn/croot/certifi_1738623753421/work/certifi
cffi @ file:///C:/b/abs_29_b57if3f/croot/cffi_1736184144340/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/click_1699473800648/work
cloudpathlib @ file:///C:/b/abs_049y1lewoy/croot/cloudpathlib_1704812313028/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
confection @ file:///C:/b/abs_dcftb4qo2h/croot/confection_1703694738925/work
constantly @ file:///C:/b/abs_cbuavw4443/croot/constantly_1703165617403/work
cryptography @ file:///C:/b/abs_ae5lrkywtg/croot/cryptography_1740577842775/work
cssselect @ file:///C:/b/abs_71gnjab7b0/croot/cssselect_1707339955530/work
cymem @ file:///C:/b/abs_908b_1v3z0/croot/cymem_1736262800502/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
filelock @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/filelock_1701807523603/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
incremental @ file:///croot/incremental_1708639938299/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///C:/b/abs_5e3azgv25z/croot/itemloaders_1708639993442/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
jmespath @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jmespath_1701807551985/work
langcodes @ file:///opt/conda/conda-bld/langcodes_1643477751144/work
lxml==5.3.0
markdown-it-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/markdown-it-py_1699473886965/work
markdownify @ file:///home/conda/feedstock_root/build_artifacts/markdownify_1732544561083/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
mdurl @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mdurl_1699473506455/work
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
murmurhash @ file:///C:/b/abs_f1_1p5yg6_/croot/murmurhash_1741707831116/work
numpy @ file:///C:/b/abs_0123vcxhf8/croot/numpy_and_numpy_base_1725470331966/work/dist/numpy-2.0.1-cp312-cp312-win_amd64.whl#sha256=e3e9d7fcaa32e9aa86aa46a7191a47fc4c4b35942462bbbedd17c45ef934dccd
packaging @ file:///C:/b/abs_3by6s2fa66/croot/packaging_1734472138782/work
parsel @ file:///C:/b/abs_ebc3tzm_c4/croot/parsel_1707503517596/work
preshed @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/preshed_1699482793545/work
Protego @ file:///tmp/build/80754af9/protego_1598657180827/work
pyasn1 @ file:///C:/b/abs_f15ydy2f_9/croot/pyasn1_1729239810559/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1733324602540/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///C:/b/abs_27dx58x550/croot/pydantic_1734736090499/work
pydantic_core @ file:///C:/b/abs_bdosz7qwys/croot/pydantic-core_1734726071532/work
PyDispatcher @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pydispatcher_1699543033434/work
Pygments @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pygments_1699474141968/work
pyOpenSSL @ file:///C:/b/abs_6cmmt1gx_z/croot/pyopenssl_1741343840223/work
PySocks @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pysocks_1699473336188/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pywin32==308
queuelib @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/queuelib_1699543858829/work
requests @ file:///C:/b/abs_c3508vg8ez/croot/requests_1731000584867/work
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
rich @ file:///C:/b/abs_8b92fzmygg/croot/rich_1732638991774/work
Scrapy @ file:///D:/bld/scrapy_1732089661504/work
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
setuptools==75.8.0
shellingham @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/shellingham_1699475566718/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/smart_open_1699483216058/work
soupsieve @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/soupsieve_1699496611169/work
spacy @ file:///D:/bld/spacy_1732449858423/work
spacy-legacy @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/spacy-legacy_1699496642242/work
spacy-loggers @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/spacy-loggers_1699496673845/work
srsly @ file:///C:/b/abs_610qoxca56/croot/srsly_1741858013545/work
thinc @ file:///C:/b/abs_3eoxuqpuxn/croot/thinc_1742231860675/work
tldextract @ file:///C:/b/abs_34gknp7o18/croot/tldextract_1723064394448/work
tqdm @ file:///C:/b/abs_0eh9b6xugj/croot/tqdm_1738945553987/work
Twisted @ file:///C:/b/abs_e7yqd811in/croot/twisted_1708702883769/work
twisted-iocpsupport @ file:///C:/b/abs_6883jqhfrn/croot/twisted-iocpsupport_1736544552637/work
typer @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/typer_1699483420852/work
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
urllib3 @ file:///C:/b/abs_7bst06lizn/croot/urllib3_1737133657081/work
w3lib @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/w3lib_1709162573908/work
wasabi @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/wasabi_1699483494040/work
weasel @ file:///C:/b/abs_a2eodvola9/croot/weasel_1704815815095/work
wheel==0.45.1
win-inet-pton @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/win_inet_pton_1699472992992/work
zope.interface @ file:///C:/b/abs_dd4yw8umk5/croot/zope.interface_1731939371965/work
